<h1> All Photos </h1>

<% @list_of_all_my_photos.each do |illvisuals| %>

<img src = "<%= illvisuals.source %>" </h1>
<div> <p> <%= illvisuals.caption %> </p> </div>

<p>
  <a href="/photos/<%=illvisuals.id%>/edit" class="btn btn-default">Edit</a>
  <a href="/delete_photo/<%=illvisuals.id%>" class="btn btn-default">Delete</a>
</p>

<% end %>
