<h1> Add a new photo! </h1>

<form action = "/create_photo">
  <div>
    <label for="why"> Image URL </label>
    <input id="why" type = "text" name = "user_url">
  </div>
  <div>
    <label for="not"> Caption </label>
    <input id="not" type = "text" name = "user_caption">
  </div>
  <button> Create Photo </button>
</form>
